__pycache__/
.vscode/

myenv/
.venv/
.env/
venv/

data/
final_dataset/
processed_data/

logs/

notebooks/best_model_checkpoint.pth
notebooks/production_resnet_emotions.pth
notebooks/production_rf_classifier.pkl

artifacts/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
